/* Welcome ----------------- */
.wrapper-welcome{
    background: #444;
    width: 100%;
}
#welcome{
    max-width: 900px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-content: space-between;

    padding: 20px 15px;
}
.text{
    color: white;
    align-self: center;
    padding: 20px 0px;
}
.text h2{    
    font-weight: 400;
    font-size: 2rem;
    padding-bottom: 20px;
}
#welcome .image img{
    height: 200px;
    justify-content: flex-end;
}

@media screen and (max-width: 570px){    
    .text h2{    
        font-size: 1.5rem;
    }
    #welcome .image img{
        height: 160px;
    }
}

@media screen and (max-width: 415px){   
    .text h2{    
        font-size: 1.2rem;
    }
    #welcome .image img{
        height: 120px;
    }
}
