/* Welcome ----------------- */
.wrapper-welcome{
    background: #444;
    width: 100%;
}
#welcome{
    max-width: 900px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-content: space-between;

    padding: 20px 15px;
}
.text{
    color: white;
    align-self: center;
    padding: 20px 0px;
}
.text h2{    
    font-weight: 400;
    font-size: 2rem;
    padding-bottom: 20px;
}
#welcome .image img{
    height: 120px;
    justify-content: flex-end;
}

/* Users ----------------- */
#users{
    max-width: 900px;
    margin: 20px auto;
    padding: 15px;

    background: #23212c;

    border-radius: 5px;
}
#users h3{
    color: white;
    font-weight: 600;
    font-size: 1.2rem;
}
.user-info{
    display: grid;
    margin: 0 auto;
    
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    justify-items: center;
}

@media screen and (max-width: 800px){    
    .user-info{
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width: 570px){    
    .text h2{    
        font-size: 1.5rem;
    }
    .user-info{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 415px){   
    .text h2{    
        font-size: 1.2rem;
    }  
    .user-info{
        grid-template-columns: repeat(2, 1fr);
    }
}
