/* github stats 494*193 */
/* top languages 350*165 */
/* repos 400*120 */

#users h4{
    margin: 20px 10px;

    color: white;
    font-size: 1.2rem;
    font-weight: 400;
}

.arrow-icon{
    transform: scale(1) translateY(4px);
}
.stats-wrapper{
    background: #555;
    padding: 10px 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-radius: 10px;
}

.repos-wrapper{
    background: #555;
    padding: 10px;

    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 10px;

    align-items: center;
    justify-items: center;
    
    border-radius: 10px;
}

.repos-images{
    width: 400px;
}
