#users h4{
    margin: 20px 10px;

    color: white;
    font-size: 1.2rem;
    font-weight: 400;
}

.arrow-icon{
    transform: scale(1) translateY(4px);
}
.stats-wrapper{
    background: #555;
    padding: 10px 20px;

    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 10px;


    align-items: center;
    justify-items: center;
    border-radius: 10px;
}

.stats-stats{
    grid-row: 1;
}

.stats-langs{   
    grid-row: 1;
}

#users h5{
    margin: 20px 10px;

    color: white;
    font-size: 1.1rem;
    font-weight: lighter;
    text-align: center;
}

.repos-wrapper{
    background: #555;
    padding: 10px;

    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 10px;

    align-items: center;
    justify-items: center;
    
    border-radius: 10px;
}

.repos-images{
    width: 100%;
}

@media screen and (max-width: 400px){
    .stats-wrapper{
        grid-template-columns: repeat(1,1fr);
    } 
    .repos-wrapper{
        grid-template-columns: repeat(1,1fr);
    }

    .stats-stats{
        grid-row: 1;
        width: 100%;
    }
    
    .stats-langs{   
        grid-row: 2;
        width: 100%;
    }
}
