/* Imports ----------------- */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

/* Resets ----------------- */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variables ----------------- */
:root{
  --primary: #6C80EA;
  --secondary: #a7a5ec;
  --extra: #d0cef1;
}

/* Body ----------------- */
body{
  background: #111;
  font-family: 'Ubuntu', sans-serif ;
  color: var(--primary);
}